__pycache__
*.egg-info
.eggs
.cache
.installed.cfg
.mr.developer.cfg
bin/
develop-eggs/
eggs/
parts/
*.tmp
*.lock
*.index
*.fs
include
lib
Intra-339914218998-gou6llf3euva7oqb9rh57pi5vn2ocio0.apps.googleusercontent.com.json
Intra-3863b7170883-storage.json
o365app.key
.idea/
.kube/
.DS_Store
.python-version
pip-selfcheck.json
config.local.json
venv
docker/elastic/elasticsearch/
charts/*/*.tgz
charts/*/*/*.tgz
.vscode
libsrc
pip-selfcheck.json
snippets/available
_build
