__pycache__
*.egg-info
.eggs
.cache
.installed.cfg
.mr.developer.cfg
bin/
develop-eggs/
eggs/
parts/
*.tmp
*.lock
*.index
*.fs
include
lib
.idea/
.kube/
.DS_Store
.python-version
pip-selfcheck.json
config.local.json
venv
docker/elastic/elasticsearch/
charts/*/*.tgz
charts/*/*/*.tgz
libsrc
pip-selfcheck.json
snippets/available
_build
